body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

.avatarModule{
	position: absolute;
	width: 30%;
	background-color: #3F515D;
	height: 86px;
	border-radius: 12px;
	left: 67%;
	top: 10px;
	color: white;
}

.avatarHolder{
	position: relative;
	width: 80px;
	height: 80px;
	top: 3px;
	left: 3px;
	border-radius: 12px;
	background-color: #2DAFD1;
	display: inline-block;
}

.avatarText{
	position: relative;
	top: -80px;
	left: 100px;
}

.avatarHeader{
	font-size: 150%;
}