.bookFrame{
	height: 1080px;
	width: 100%;
}

#writingButton{
	position: absolute;
	left: 100px;
	z-index: 1;
	cursor: pointer;
}

#recordingButton{
	position: absolute;
	left: 160px;
	z-index: 1;
	cursor: pointer;
}

#writingModal{
	text-align: center;
}

#bookSettingsButton{
	position: absolute;
	left: 220px;
	z-index: 1;
	cursor: pointer;
	height: 50px;
}

.writingArea{

	margin: 30px 40px;
	
	
}

#prevPageButton{
	position: absolute;
	right: 150px;
	z-index: 1;
	cursor: pointer;
	height: 50px;
}
#nextPageButton{
	position: absolute;
	right: 50px;
	z-index: 1;
	cursor: pointer;
	height: 50px;
}

.bookHolder{
	text-align: center;
	width: 100%;
	height: 100%;
}

#pageSelector{
	position: absolute;
	right: 107px;
	top: 15px;
	z-index: 1;
}