body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

.profileReportBody{
	background: url("./images/bg_library.png");
	background-size: 100% 1080px;
	background-repeat: no-repeat;
	height: 1080px;
	background-color: #1D7DA3
}

.standardModal {
  position:relative;
  background: white;
  width: 50%;
  height: 60%;
  top:35%;
  overflow: auto;
  left:50%;
  transform: translate(-50%,-50%);
}

.topBar{
	position: relative;
	background: url("./images/bg_top_bar.png");
	top: 0px;
	width: 100%;
	height: cover;
	text-align: center;
}

.filterBar{
	background: url("./images/bg_filter_search_bar.png");
	vertical-align: center;
	position: relative;
	width: 100%;
	height: 108px;
}

.filterButton{
	position: absolute;
	top: 30px;
	left: 10px;
}

.searchInput{
	position: absolute;
	top: 42px;
	left: 170px;
}

.filterHeadText{
	position: absolute;
	top: 36px;
	left: 75px;
	color: white;
	font-size: 200%;
}

.topBarText{
	position: relative;
	padding: 10px;
	text-align: center;
	font-size: 25px;
	
}

.backButton{
	position: absolute;
	left: 17px;
	z-index: 1;
}

.headName{
	position: absolute;
	top: 100px;
	left: 20%;
	font-size: 30px;
}

.headPoints{
	position: absolute;
	top: 100px;
	left: 60%;
	font-size: 30px;
}